#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: #fcfcfc; 
  padding: 10px; 
  border-radius: 15px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; 
}

.card h1 {
  color: #1a1a1a;
}

.card p {
  color: #1a1a1a; 
}

.card button[type="submit"] {
  background-color: #020652; 
  color: #fff;
  margin-top: 10px;
  width: 100%; 
}

.card button[type="submit"]:hover {
  background-color :rgb(6, 172, 6); 
}

.card form {
  text-align: center;
}

.card {
  padding: 3em;
}

.read-the-docs {
  color: #888;
}

.social-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

form input {
  display: block;
  margin-bottom: 10px; 
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; 
}

input[type="text"],
input[type="password"] {
  width: 100%; 
  margin: 8px 0; 
  padding: 12px; 
  background-color: white;
  color: #191818;
}

.social-icons-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.social-icon {
  font-size: 24px;
  cursor: pointer; 
  margin: 0 10px; 
}

.social-icon:hover {
color: rgb(6, 172, 6);
}

.alert {
  padding: 10px;
  color: #191818;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert-success {
  background-color: rgb(6, 172, 6); 
}

.alert-danger {
  background-color: red; 
}